*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(./images/jpg/body_desktop.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;

  @media(max-width: 1220px) {
    background: url(./images/jpg/body_tablet.jpg);
    background-attachment: fixed;
    background-size: contain;
  }

  @media(max-width: 630px) {
    background: url(./images/jpg/body_smartphone.jpg);
  }
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}