*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(./images/jpg/body_pc.jpg);
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}