.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  @media(max-width: 1510px) {
    max-width: 980px;
  }

  @media(max-width: 1200px) {
    max-width: 780px;
  }

  @media(max-width: 768px) {
    max-width: 530px;
    padding: 0 15px;
  }
}

.container-hero {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;

  @media(max-width: 1140px) {
    max-width: 920px;
  }

  @media(max-width: 768px) {
    max-width: 530px;
    padding: 0 15px;
  }
}