// BACKGROUND COLORS
.background-main {
  background: $main;
}

.background-secondary {
  background: $secondary;
}

.background-light {
  background: $light;
}

.background-wash {
  background: $wash;
}

// COLORS
.color-main {
  color: $main;
}

.color-secondary {
  color: $secondary;
}

.color-dirty {
  color: $dirty;
}

.color-light {
  color: $light;
}

.color-input {
  color: $input;
}

.color-wash {
  color: $wash;
}

.color-body {
  color: $body;
}