// COLOR PALETTE
$main: #E20727;
$secondary: #166FB0;
$light: #3C7EE1;
$body: #4F4F4F;
$wash: #FFF;
$dirty: #F9F9F9;
$input: #B0B0B0;
$overlay: rgba(0, 0, 0, 0.3);
$shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);