.exhibitors-page__title {
  @include h2;

  text-align: center;
}

.pagination-exhibitors {
  display: flex;
  grid-template-columns: repeat(7, 1fr);
  margin: 50px 0 100px;
  box-shadow: $shadow;
  border-radius: 5px;
  overflow: hidden;
}

.pagination-exhibitors__page {
  @include pagination;
  @include transition;

  flex: 1;

  background: $wash;
  padding: 30px 0;
  text-align: center;
  color: $secondary;

  &:nth-child(1) {
    border-right: 1px solid $dirty;
  }

  &:hover,
  &:active {
    background: $dirty;
  }

  &.active {
    background: $secondary;
    color: $wash;
  }
}

.exhibitors-page__sub {
  @include sub;

  margin-bottom: 50px;
}

.exhibitor__card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
}

.exhibitor__card {
  background: $wash;
  box-shadow: $shadow;
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
}

.exhibitor__card__header {
  text-align: center;
}

.exhibitor__card__logo {
  object-fit: contain;
  margin-bottom: 10px;
  height: 100px;
}

.exhibitor__card__name {
  @include exhibitors;
}

.exhibitor__card__content {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.exhibitor__card__image {
  margin-right: 20px;
  box-shadow: $shadow;
  border-radius: 5px;
}

.exhibitor__card__description {
  @include body;
}

.exhibitor__card__video {
  height: 250px;
  width: 100%;
}

.button--exhibitor__card {
  @include transition;

  cursor: pointer;
  background: $main;
  color: $wash;
  margin-top: 30px; 
  float: right;

  &:hover,
  &:active {
    background: $wash;
    color: $main;
    border: 2px solid $main;
    box-shadow: none;
  }
}