.performer {
  margin-bottom: 100px;

  @media(max-width: 768px) {
    margin-bottom: 100px;
  }

  @media(max-width: 630px) {
    margin-bottom: 50px;
  }
}

.performer__title {
  @include sub;

  margin-bottom: 20px;
}

.performer__sub {
  @include sub;
}

.streamers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  @media(max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 520px) {
    grid-template-columns: 1fr;
  }
}

.streamer__img {
  box-shadow: $shadow;
  border-radius: 5px;
  margin-bottom: 20px;
}

.streamer__name {
  @include name;

  margin-bottom: 10px;
}

.streamer__description {
  @include streamer-description;
}